:root {
  /* Colors */
  --primary-bg: #292727;
  --secondary-bg1: #717171;
  --secondary-bg2: #414141;
  --sidebar-bg: #292727;
  --card-bg: #587eff;

  --primary-font-color: #ffffff;
  --secondary-font-color: #252525;

  font-size: 62.5%;

  --shadow: 0.2rem 0 1rem 0 rgb(24, 22, 22);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: 7rem 3rem 1fr;
  grid-template-columns: 20rem 1fr;

  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar main";

  .logo {
    grid-area: header;
    display: grid;
    place-content: center;
    height: 7rem;
    font-size: 4rem;
    font-weight: bolder;
    color: var(--primary-font-color);
    background-color: var(--primary-bg);
    box-shadow: var(--shadow);
  }

  nav {
    grid-area: sidebar;
    background-color: var(--primary-bg);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--shadow);

    ul {
      display: flex;
      justify-content: space-around;
      align-items: start;
      flex-direction: column;
      margin-top: 20rem;
      gap: 1rem;

      li {
        list-style-type: none;
        width: 100%;
        a {
          text-decoration: none;
          font-size: 2rem;
          color: var(--primary-font-color);
          display: block;
          padding: 0.5rem 0.5rem 0.5rem 3rem;
        }
        a:hover {
          color: var(--secondary-font-color);
          background-color: var(--secondary-bg1);
        }
      }
    }

    .logout {
      margin-bottom: 5rem;
      text-align: center;
      a {
        text-decoration: none;
        font-size: 1.5rem;
        color: var(--primary-font-color);
        background-color: var(--secondary-bg1);
        padding: 1rem 2rem;
        border-radius: 0.5rem;
       }
       a:hover {
        color: rgb(36, 36, 36);
        background-color: rgb(179, 178, 178);
       }
    }
  }

  .main{
       color: var(--primary-font-color);
       background-color: var(--secondary-bg2);
       grid-area: main;
  }
}
