:root {
  font-size: 62.5%;

  /* Background Colors */
  --bgcolor-primary-100: #292727;
  --bgcolor-primary-80: #414141;
  --bgcolor-primary-50: #717171;

  --bgcolor-secondary-100: #0029b1;
  --bgcolor-secondary-80: #1f51f7;
  --bgcolor-secondary-50: #567cf9;

  --bgcolor-card: #7171714c;

  /* Text colors */
  --color-primary-100: #ffffff;
  --color-primary-80: #cfcfcf;
  --color-primary-50: #808080;

  --color-secondary-100: #0d0d0d;
  --color-secondary-80: #2e2d2d;
  --color-secondary-50: #3d3d3d;

  /* Button colors */
  --color-success: green;
  --color-danger: rgb(255, 85, 0);
  --color-warning: rgb(225, 255, 0);
  --color-edit: rgb(76, 76, 248);
  --color-update: rgb(59, 79, 255);
  --color-delete: rgb(225, 55, 17);
  --bgcolor-hover: rgb(49, 49, 255);
  --color-hover: rgb(253, 253, 253);
  --color-reset: rgba(215, 62, 250, 0.682);
  --color-highlighter: rgb(254, 187, 63);

  --shadow: 0.1rem 0.1rem 0.8rem 0 var(--color-secondary-100);
}

/* Font Size for Responsiveness */

/* Large desktops and laptops (1200px and above) */

/* Font Size for Responsiveness */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", sans-serif;
}



/* Button Styles starts here */
a {
  display: inline-block;
  transition: all 200ms ease;
}
a:hover {
  transform: scale(1.08);
}
a:active {
  transform: scale(0.9);
}

.update-btn {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--color-primary-100);
  background-color: var(--color-update);
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0.1rem solid var(--color-primary-100);
  border-radius: 0.2rem;
}

.edit-btn {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--color-primary-100);
  background-color: var(--color-edit);
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0.1rem solid var(--color-primary-100);
  border-radius: 0.2rem;
}

.delete-btn {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--color-primary-100);
  background-color: var(--color-delete);
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0.1rem solid var(--color-primary-100);
  border-radius: 0.2rem;
}
.reset-btn {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--color-primary-100);
  background-color: var(--color-reset);
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0.1rem solid var(--color-primary-100);
  border-radius: 0.2rem;
}
.submit-btn {
  color: var(--color-primary-100);
  background-color: var(--color-update);
}
.large{
  font-size: 2rem;
  padding: 1rem 6rem;
}
/* Reusable classes start here */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-fdc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#error {
  background-color: var(--color-danger);
  color: var(--color-primary-100);
  font-weight: 500;
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
}

.hide {
  opacity: 0;
  transition: all 500ms ease;
  cursor: default;
}
/* Reusable classes end here */

/* Button Styles ends here */
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bgcolor-primary-80);
  position: relative;

  display: grid;
  grid-template-rows: 7rem 1fr;
  grid-template-columns: 20rem 1fr;

  grid-template-areas:
    "sidebar header"
    "sidebar main";

  .logo {
    grid-area: header;
    display: grid;
    place-content: center;
    width: 100%;
    height: 7rem;
    font-size: 4rem;
    font-weight: bolder;
    color: var(--color-primary-100);
    background-color: var(--bgcolor-primary-100);
    box-shadow: var(--shadow);
    z-index: 3;
    position: sticky;
    top: 0;
  }

  nav {
    grid-area: sidebar;
    background-color: var(--bgcolor-primary-100);
    height: 100dvh;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  
    box-shadow: var(--shadow);
    transition: all 300ms ease;

    ul {
      display: flex;
      justify-content: space-around;
      align-items: start;
      flex-direction: column;
      margin-top: 10rem;
      gap: 1rem;

      li {
        list-style-type: none;
        width: 100%;

        a {
          text-decoration: none;
          font-size: 2rem;
          color: var(--color-primary-100);
          display: block;
          padding: 0.5rem 0.5rem 0.5rem 3rem;
        }

        a:hover {
          color: var(--color-secondary-100);
          background-color: var(--color-primary-80);
          transition: all 300ms ease;
        }
      }
    }

    .active{
        color: var(--bgcolor-primary-100);
        background-color: var(--color-primary-100);
        font-weight: 600;
    }

    .logout {
      margin-bottom: 2rem;
      text-align: left;
      margin-left: 4rem;

      a {
        text-decoration: none;
        font-size: 1.5rem;
        color: var(--color-primary-100);
        background-color: var(--bgcolor-primary-80);
        padding: 1rem 2rem;
        border-radius: 0.5rem;
      }

      a:hover {
        color: rgb(36, 36, 36);
        background-color: rgb(179, 178, 178);
      }
    }
  }
}
#hambuger-icon{
  margin: 1rem;
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 5;
  a{
    img{
      height: 3rem;
      filter: invert();
    }
  }
}

/* CSS code for Slider menu */
.disabled{
  display: none;
}
.allfit{
  grid-template-rows: 7rem 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
  "header"
  "main";
}

/* CSS code for Slider menu */

/* Admin code from here... */
.admin-dashboard {
  color: var(--color-primary-100);
  display: block;
  margin: 0 auto;
  grid-area: main;
  display: grid;
  grid-template-columns: 62rem 1.5rem 40rem;
  grid-template-rows: 15rem 1fr;
  grid-template-areas:
    "greet greet greet"
    "student-status gap info";
}

.greet {
  grid-area: greet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-highlighter);
  }
}

.student-status {
  grid-area: student-status;
  display: grid;
  grid-template-rows: 12rem 12rem 20rem;
  grid-template-areas:
    "total-info"
    "semester-info"
    "more-options";
  margin-top: 1rem;  
}

.total-info {
  grid-area: total-info;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 2rem 1rem 5rem 1rem;
}

.semester-info {
  grid-area: semester-info;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: start;
  gap: 1rem;
  margin: 0 1rem;

  .sem-container {
    background-color: var(--bgcolor-card);
    outline: 0.1rem solid var(--color-primary-80);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    height: 6rem;
    width: 17rem;

    .semester-box {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      font-weight: 500;
      height: inherit;
      width: 7rem;
      background-color: var(--bgcolor-secondary-50);
      border-radius: 0.5rem 0 0 0.5rem;
    }

    p {
      font-size: 2rem;
      margin-left: 1rem;
    }
  }
}

.total-students,
.total-teachers {
  width: 25.5rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: var(--bgcolor-card);
  border: 0.1rem solid var(--color-primary-80);
  border-radius: 0.5rem;
  gap: 2rem;
  font-weight: 500;
  img {
    height: 4rem;
  }
}

.more-options {
  grid-area: more-options;
  display: flex;
  align-items: end;
  margin: 5rem 1rem 2rem 1rem;
  gap: 2rem;

  .tadmission-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 6rem;
    width: 24rem;
    background-color: var(--bgcolor-card);
    outline: 0.1rem solid var(--color-primary-80);
    border-radius: 0.5rem;
    font-size: 1.5rem;

    .tadmission-box {
      height: inherit;
      width: 12rem;
      font-size: 1.8rem;
      font-weight: 600;
      text-align: center;
      background-color: var(--bgcolor-secondary-50);
      border-radius: 0.5rem 0 0 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .resetPassword-btn {
    display: inline-block;
    height: 6rem;
    width: 20rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-primary-80);
    background-color: var(--color-reset);
    outline: 0.1rem solid var(--color-primary-80);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.admin-info {
  grid-area: info;
  background-color: var(--bgcolor-card);
  border: 0.1rem solid var(--color-primary-80);
  border-radius: 0.5rem;
  min-width: 35rem;
  max-width: 50rem;
  height: 48rem;
  margin: 1.3rem 0 0 0;
  padding: 2rem;
  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 2rem 0;
    
  }
  img {
    height: 14rem;
    border-radius: 50%;
    border: 0.2rem solid var(--color-primary-100);
    display: block;
    box-shadow: var(--shadow);
  }
  p {
    font-size: 1.8rem;
    line-height: 1.5;
    display: flex;
  }
  p a {
    margin: 2rem 1rem 1rem 1rem;
  }
}





/* Update Admin Info Code start here...  */
.updateAdminInfo{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.heading{
  font-size: 3rem;
  color: var(--color-primary-80);
  margin: 3rem 0 1rem 0;
  text-align: center;
}

.form{
  width: 35rem;
  background-color: var(--bgcolor-primary-50);
  border: 0.2rem solid var(--color-primary-80);
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 0 auto;
}

label{
  font-size: 1.5rem;
  color: var(--color-secondary-80);
  font-weight: bold;
  margin-bottom: 0.5rem;
}
input[type='text'],
input[type='password'],
input[type='number'],
input[type='email'],
input[type='date']
{
  height: 3rem;
  width: min(40rem, 95%);
  margin-bottom: 1rem;
  padding: 0.5rem;
  color: var(--color-secondary-50);
  border-radius: 0.2rem;
  border: none;
}

.gender{
  font-size: 1.5rem;
  color: var(--color-secondary-80);
  font-weight: 600;
}
input[type='radio']{
  transform: scale(1.5);
  margin: 0.5rem 0.5rem 1rem 4rem;
}

input[type="submit"]{
  padding: 0.7rem 1.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  text-align: center;
  margin: 1rem 0;
  transition: all 300ms ease;
}
input[type="submit"]:hover{
  transform: scale(1.1);
}  
input[type="submit"]:active{
  transform: scale(0.99);
}




/* Update Admin Info Code ends here...  */